# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Logs
*.log

# Dataset grande
data/raw/archivos/stackoverflow/survey_results_public.csv