# ============================
# Entornos virtuales
# ============================
venv/
.venv/

# ============================
# Python
# ============================
__pycache__/
*.pyc

# ============================
# VS Code
# ============================
.vscode/

# ============================
# Logs
# ============================
*.log

# ============================
# Archivos grandes
# ============================
data/raw/archivos/stackoverflow/survey_results_public.csv